<footer class="footer bg-dark py-3 mt-auto" >
    <div class="container text-center">
        <span class="text-secondary"> Special thanks to <strong>Colt Steele</strong> for illuminating my web dev journey!  </span>
    </div>
</footer>